    <tr>
      <td><%= link_to user.name, user %></td>
      <td>suscribed <%= time_ago_in_words(user.created_at) %> ago</td>
      <td><%= link_to "delete", user, :method => :delete, 
                                :confirm => "are you sure?", 
                                :title => "Delete #{user.name}" %></td>
    </tr>
