body {
  margin: 0;
  /*background-image:url( '/assets/papyrus_alpha.png');*/
  font-family: Helvetica,Arial;
  color: #111111;
}
body h1 {
  font-size: 170%;
}
body h2 {
  font-size: 120%;
}
.nav {
  height:100%;
  border-right: solid 1px #bbbbbb;
  margin-right:50px;
}
.nav ul {
  margin-top:50px;
}
.nav ul div {
  margin-bottom:30px;
}
.nav ul li {
  list-style: none;
  margin-bottom:5px;
}
.nav ul li a {
  width:100%;
}
.nav ul li a:hover {
  background: #bbbbbb;
}
.container {
  padding-left: 25px;
  margin: auto;
  text-align: left;
  width: 860px;
  padding-top: 20px;
}

#banner {
  width: 100%;
  height: 60px;
  background-color: #666666;
  color: #eeeeee;
  text-decoration: none;
}
#banner a {
  text-decoration: inherit;
  color: inherit;
}
#banner-right {
  position: absolute;
  top: 10px;
  right: 0;
  margin-right: 10px;
}
#banner-right a {
  color: white;
}
.banner-links {
  display: inline;
  padding: 20px 0 20px 0;
  margin-left: 10px;
}
.centered {
  padding-top: 10px;
  margin-top: 0;
}

#banner-left a {
  margin: 0 0 0 50px;
}
header h1 {
  display: inline;
}
header red {
  color: #d00000;
}
div#banner-right a:hover, .banner-links :hover {
  background-color: #aaaaaa;
}
#error_explanation {
color: red;
border: solid 1px red;
display: inline-block;
padding: 5px;
margin: 5px 0;
}
#error_explanation li {
list-style: none;
}
#error_explanation ul {
margin: 0;
}
.field_with_errors {
margin: inherit;
}
.stats {
  color: #999999;
  font-size: 80%;
  padding-left: 3px;
}
