.record-form {
  display: inline-block;
}
.record-form textarea, .record-form input[type="text"] {
  font-size: 120%;
  padding: 3px;
  border: solid 1px #999999;
  margin: 5px 0;
}
.record-form input[type="submit"] {
  float: right;
  position: relative;
  top: 10px;
}
.records-feed {
  min-width: 30em;
  display: inline-block;
  margin-top: 10px;
}
.record-item {
  border-bottom: solid 1px #aaaaaa;
  padding-bottom: 15px;
  margin-bottom: 20px;
}
.record-info {
  color: #666666; 
}
.record-title {
  font-weight: bold;
  color: #568e90;
}
.record-head p {
  margin: 5px 0;
}
.wrapper {
  float:left;
  margin-right:20px;
}
.clear {
  clear: both;
}
.action-buttons {
  margin: 15px 0 0 0;
}
.edit-button, .delete-button {
}
.action-buttons form, .action-buttons div {
  display: inline-block;
}
.view-button, .edit-button, .delete-button {
  display: inline;
  margin-right: 5px;
  padding: 2px 6px;
  font-weight: bold;
  color: #eeeeee;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  border: solid 1px #666666;
  vertical-align: bottom;
}
.view-button {
  background-color: darkSeaGreen;
}
.view-button:hover {
  background-color: lightslateGray;
}
.edit-button {
  background-color: limeGreen;
}
.edit-button:hover {
  background-color: lime;
}
.delete-button {
  margin-left: 30px;
  background-color: #aaaaaa;
  padding: 2px;
}
.delete-button:hover {
  background-color: lightslateGray;
}
.record-show {
  margin-top: 50px;
}
.record-content {
  margin-top: 20px;
}
.record-content p {
 margin: 5px; 
}
