<nav>
  <ul>
    <div>
      <li><%= link_to "New Record", new_record_path %></li>
      <li><%= link_to "My Records", records_path %></li>
     </div>
    <div>
      <li><%= link_to "Users Publishings", feed_path %></li>
    </div>
    <div>
      <li><%= link_to "Users", users_path %></li>
    </div>
  </ul>
</nav>
